<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.Dynamics.Nav.LoadTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.Dynamics.Nav.LoadTest.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>testing</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Aries#12345</value>
            </setting>
            <setting name="Authentication" serializeAs="String">
                <value>UserNamePassword</value>
            </setting>
            <setting name="Authority" serializeAs="String">
                <value />
            </setting>
            <setting name="Resource" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="Tenant" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientServiceUrl" serializeAs="String">
                <value>http://localhost:15080/BC140_CU08/cs</value>
            </setting>
        </Microsoft.Dynamics.Nav.LoadTest.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>